<div class="login-card">
  <h1 class="title">{{ isRegisterMode() ? 'Регистрация' : 'Войти' }}</h1>

  <ng-container *ngIf="isRegisterMode()">
    <input
      class="input"
      [class.input-error]="!!lastNameError()"
      type="text"
      maxlength="50"
      placeholder="Фамилия"
      [value]="lastName()"
      (input)="onLastNameChange($event)"
    />

    <div class="error-message" *ngIf="lastNameError()">
      {{ lastNameError() }}
    </div>

    <input
      class="input"
      [class.input-error]="!!firstNameError()"
      type="text"
      maxlength="50"
      placeholder="Имя"
      [value]="firstName()"
      (input)="onFirstNameChange($event)"
    />

    <div class="error-message" *ngIf="firstNameError()">
      {{ firstNameError() }}
    </div>

    <input
      class="input"
      [class.input-error]="!!middleNameError()"
      type="text"
      maxlength="50"
      placeholder="Отчество"
      [value]="middleName()"
      (input)="onMiddleNameChange($event)"
    />

    <div class="error-message" *ngIf="middleNameError()">
      {{ middleNameError() }}
    </div>
  </ng-container>

  <input
    class="input"
    [class.input-error]="!!emailError()"
    type="email"
    placeholder="Введите email"
    [value]="email()"
    (input)="onEmailChange($event)"
  />

  <div class="error-message" *ngIf="emailError()">
    {{ emailError() }}
  </div>

  <input
    class="input"
    [class.input-error]="!!passwordError()"
    type="password"
    placeholder="Введите пароль"
    [value]="password()"
    (input)="onPasswordChange($event)"
  />

  <div class="error-message" *ngIf="passwordError()">
    {{ passwordError() }}
  </div>

  <button
    mat-flat-button
    class="login-button"
    [disabled]="isSubmitting()"
    (click)="isRegisterMode() ? onRegister() : onLogin()"
  >
    {{ isRegisterMode() ? 'Зарегистрироваться' : 'Войти' }}
  </button>

  <button
    mat-button
    class="mode-button"
    type="button"
    [disabled]="isSubmitting()"
    (click)="isRegisterMode() ? showLoginForm() : showRegisterForm()"
  >
    {{ isRegisterMode() ? 'Уже есть аккаунт' : 'Зарегистрироваться' }}
  </button>

  <div class="submit-error" *ngIf="submitError()">
    <span class="error-icon">!</span>
    <span>{{ submitError() }}</span>
  </div>

  <div class="submit-success" *ngIf="submitSuccess()">
    {{ submitSuccess() }}
  </div>
</div>
